ol {font-size: 25px;}

body {
  background-image:url("asanoha-400px.png");
}

.products-index {
  background: #ECEFF4;
  padding:0 15px 15px 80px;
  box-shadow: 0 3px 3px rgba(0,0,0,0.35);
  min-height: 550px;
}

.image-size img {
  width: 80%;
  height: 200px;
  margin-bottom: 20px;
}

.show img {
  width: 40%;
  height: 400px;
}

div.index_format {
  margin: 0;
}

// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
