<header><h1>Items for Sale!</h1><br></header>

<body>
  <img src ="http://cdn.mos.techradar.com/art/games_consoles/Xbox%20One/Xbox%20One%20-%20one%20year%20on/XboxOneMain-1200-80.jpg" style="height:400px; width:400px;"/></div>
  <img src ="https://upload.wikimedia.org/wikipedia/commons/7/7e/PS4-Console-wDS4.jpg" style="height:400px; width:400px;"/></div>
  <img src ="https://upload.wikimedia.org/wikipedia/commons/4/4a/Wii_U_Console_and_Gamepad.png" style="height:400px; width:400px;"/></div>
<% @everything.each do |item| %>
<div class = "items"><ul> <strong>Product1:</strong> <%= item.name %></ul>
<ol><strong>Color:</strong> <%= item.color %></ol>
<ol><strong> Price:</strong> <%= item.price %></ol>
<ol><strong> Description: </strong><%= item.description %></ol></div><br>
<% end %>
</body >
