<link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>

<h2>Here are your product!</h2>


<h2><%= @product.name %></h2><br>
<ul>
<ol>Item Name: <%= @product.price %></ol><br>
<ol>Color: <%= @product.color %></ol><br>
<ol>Description: <%= @product.description %></ol><br>
<ul>
